---
import Layout from "../layouts/Layout.astro";
import ProfileContent from "../content/profile.mdx";

// ここにAPIからプロフィールデータを取得するロジックが入る（将来のステップ）
// const profile = await microCMS.getProfileData();
---

<Layout title="About">
    <ProfileContent />

    <div class="button-container">
        <a href="/" class="button">Home</a>
        <a href="/projects" class="button">Projects</a>
    </div>
</Layout>

<style>
    .button-container {
        display: flex;
        margin-top: 4rem;
        justify-content: space-between;
    }
    .button {
        display: inline-block;
        padding: 0.8rem 2rem;
        background-color: #0070f3;
        color: white;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
    }
</style>
