---
const baseUrl = import.meta.env.BASE_URL;
---

<header class="header">
    <div class="container">
        <a href={`${baseUrl}/`} class="site-title"> AJIM Portfolio </a>
    </div>
</header>

<style>
    .header {
        background-color: #333;
        padding: 1rem;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    .site-title {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
    }
</style>
